<link rel="stylesheet" href="/css/admin.css">

<div class="container-fluid"><br>
    <div class="heading">Assigning Recipient and Admin</div>
    <div class="reviewContainer">
        <div class="reviewer"><br>
            <div class="tect-center">
                Assign Task
            </div>
            <hr>
            <form action="/admin/setReviewes" method="POST" class="card-body">
                <div>
                    Set Reviewer
                    <select class="form-select1" aria-label="Default select example" name="sender">
                        <option selected>Sender</option>
                        <% for(let i=0 ; i<employee.length ; i++){ %>
                            <option value="<%= employee[i].id %>"><%= employee[i].name %></option>
                        <% } %>
                    </select>
                </div><br>
                <div class="reviewee">
                    Select the Recipient Employee
                    <select class="form-select2" aria-label="Default select example" name="reciver">
                        <option selected>Reciver</option>
                        <% for(let i = 0; i<employee.length ; i++){ %>
                        
                            <option value= <%= employee[i].id %> > <%= employee[i].name %> </option>
                            
                        <%}%>
                    </select>
                </div>

                <div class="submitButtons">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="reviewContainer">
        <div class="reviewer"><br>
            <div class="tect-center">
                Make Admin 
            </div>
            <hr>

            <form action="/admin/newAdmin" method="POST">
                <select class="form-select3" aria-label="Default select example" name="selectedUser">
                    <option selected>Select to make Admin</option>
                    <% for(let i = 0; i<employee.length ; i++){ %>
                        
                        <option value= <%= employee[i]._id %> > <%= employee[i].name %> </option>
                        
                    <%}%>
                </select>

                <div class="submitButtons">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>